<header class="cabezera">
    <div class="contenedor logo-nav-contenedor">
        <a class="logo">Spring<span>boot</span></a>
        <span class="menu-icono">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>
        <nav class="navegador">
            <ul>
                <li> <a routerLink="/Demo" style="font-size: 12px; font-weight: bold; background: white;">Predecir</a></li>
            </ul>
        </nav>
    </div>            
</header>

<router-outlet></router-outlet>